/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}



.header_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 79px;
    max-width: 1440px;
    left: 1107.09px;
}

.logo {
    width: 61.09px; 
    height: 19px;
    margin-top: 30px;
}

.menu {
    margin-top: 16px;
    gap: 68px;
}


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

#hebergements {
    position: relative;
    width: 113px;
    height: 35px;
    font-size: 16px;
    margin-right: 68px;  
}

#activites {
    position: relative;
    width: 63px;
    height: 35px;
    font-size: 16px;
}

#hebergements::after {
    content: "";
    position: absolute;
    background-color: #0065FC;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 24px;
}

#hebergements:hover {
    color: #0065FC;
}

#hebergements:hover::after {
    width: 100%;
}

#activites::after {
    content: "";
    position: absolute;
    background-color: #0065FC;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 24px;
}

#activites:hover {
    color: #0065FC;
}

#activites:hover::after {
    width: 100%;
}

#entete {
    position: relative;
    font-size: 22px;
    margin-bottom: 8px;
}

.formulaire form {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.formulaire i {
    color: black;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#site-search {
    width: 195px;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
    border-width: 0;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: #F2F2F2;
}

#search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-width: 0;
    width: 132px;
    height: 49px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

mark {
    background-color: #0065FC;
    color: white;
}

#search-button i {
    display: none;
}

::placeholder {
    color: black;
    background-position: left;
}

.filters {
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
}

.group {
    display: flex;
    gap: 15px;
}

.group1 {
    display: flex;
    gap: 15px;
}

.group2 {
    display: flex;
    gap: 15px;
}

#economique:hover {
    background-color: #DEEBFF;
}

#familial:hover {
    background-color: #DEEBFF;
}

#romantique:hover {
    background-color: #DEEBFF;
}

#pepites:hover {
    background-color: #DEEBFF;
}

#economique {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    gap: 10px;
    background-color: white;
    width: 173px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #D9D9D9;
    border-style: solid;
}

#economique i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    padding: 0;
}

#familial {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    gap: 10px;
    background-color: white;
    width: 134px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #D9D9D9;
    border-style: solid;
}

#familial i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    padding: 0;
}

#romantique {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    gap: 10px;
    background-color: white;
    width: 170px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #D9D9D9;
    border-style: solid;
}

#romantique i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    padding: 0;
}

#pepites {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    gap: 10px;
    background-color: white;
    width: 167px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #D9D9D9;
    border-style: solid;
}

#pepites i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    padding: 0;
}

.info {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 50%;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.hebergements-cards {
    max-height: 525px;
}

.hebergements-cards .ligne {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 30%;
    min-height: 205px;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    margin-top: 8px;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin: 0;
    margin-top: 8px;
}

#lien-hebergements {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

#section-title {
    padding: 30px;
    font-size: 22px;
}

.activites {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.activites img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites .card {
    min-height: 439px;
    width: 23%;
    padding: 0;
}

.activites .card-title {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.activities-text {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}

/****** Footer ******/

footer {
    background-color: #F2F2F2;
    padding-left: 20px;
    display: flex;
    height: 163px;
}

footer h3{
    font-size: 18px;
    margin: 0;
}

footer .a-propos{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-top: 20px;
    gap: 15px;
}

footer .hebergements-footer{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-top: 20px;
    gap: 15px;
}

footer .assistance{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-top: 20px;
    gap: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .activites .card {
        min-height: 270px;
        width: 23%;
        padding: 0;
    }

    .filters {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
        font-weight: bold;
        height: 50px;
    }

    .filters p {
        margin-bottom: 0;
    }
    
    #economique {
        font-size: 16px;
        height: 50px;
    }
    
    #familial {
        font-size: 16px;
    }
    
    #romantique {
        font-size: 16px;
    }
    
    #pepites {
        font-size: 16px;
    }
    
    .info {
        margin-top: 105px;
    }

    .formulaire form {
        margin-bottom: 25px;
    }

    .activities-text {
        margin-top: 5px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    main {
        padding-left: 0;
        padding-right: 0;
    }

    main h2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    main p {
        padding-left: 20px;
        padding-right: 20px;
    }

    main .formulaire {
        padding-left: 20px;
        padding-right: 20px;
    }

    main .filters {
        padding-left: 20px;
        padding-right: 20px;
    }

    main .info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        height: 115px;
        width: 100%;
    }

    .logo {
        width: 61.09px; 
        height: 19px;
        margin-top: 0px;
    }
    
    .menu {
        margin-top: 16px;
        gap: 68px;
    }

    nav {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #hebergements {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 19px;
        margin-right: 0;
    }

    #hebergements::after {
        top: 35px;
    }

    #activites {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 19px;
    }

    #activites::after {
        top: 35px;
    }

    #entete {
        position: relative;
        max-width: 335px;
        font-size: 22px;
        margin-bottom: 8px;
    }

    #subtittle {
        margin-top: 8px;
    }
    
    #search-button {
        position: absolute;
        left: 301px;
        width: 49px;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px #00000040;
    }

    #search-button i {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        color: white;
        border-radius: 15px;
    }

    mark {
        display: none;
    }

    #site-search {
        width: 236px;
    }

    #filter-text {
        padding-left: 0;
    }

    .group {
        display: flex;
        flex-direction: column;
    }

    .group2 {
        height: 50px;
    }

    #economique {
        font-size: 14px;
        width: 162.5px;
    }

    #familial {
        font-size: 14px;
        width: 162.5px;
    }

    #romantique {
        font-size: 14px;
        width: 162.5px;
    }

    #pepites {
        font-size: 14px;
        width: 162.5px;
    }

    .info {
        margin-top: 170px;
        width: 100%;
    }

    .info p {
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: unset;
    }

    .populaires {
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements {
        background-color: white;
        min-height: 1600px;
    }

    .card-subtitle {
        padding: 0;
    }

    .hebergements-cards .ligne {
        flex-direction: column;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    #lien-hebergements {
        position: relative;
        top: 950px;
    }

    .activites {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 55px;
    }

    .activites .card {
        min-height: 200px;
        width: 100%;
    }

    .activites img {
        height: 141px;
    }

    .activities-text {
        margin-top: 0;
    }

    footer {
        flex-direction: column;
        padding: 30px;
        min-height: 380px;
    }

    footer .a-propos{
        width: 100%;
    }
    
    footer .hebergements-footer{
        width: 100%;
    }
    
    footer .assistance{
        width: 100%;
    }

}